<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prime IA</title>
  <link rel="stylesheet" href="/static/styles/estiloInicial.css">
</head>

<body>
  <div class="container">
    <h1>
      <span class="prime">Prime</span> IA
      <img src="/models/cordova.png" alt="" width="170px">
    </h1>

    <!-- Texto animado separado -->
    <p>
      <span class="cursor typewriter-animation">
        <span class="seus">Seus resultados </span>
        <span class="blue">turbinados</span>
        <span class="seus-e"> e </span>
        <span class="pink">automatizados</span>
      </span>
    </p>

    <!-- Botão separado -->

    <form action="/chat">
      <button class="btn-17">
        <span class="text-container">
          <span class="text">Iniciar</span>
        </span>
      </button>
    </form>
  </div>
</body>

</html>